.signup-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    position: relative;
    padding: 30px;
    background: url("/public/images/sign-bg.jpeg") center/cover no-repeat;
}

.signup-page::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    z-index: 0;
}

.signup-box{
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    padding: 25px;
    width: 40%;
    height: 100%;
    color: #fff;
    box-shadow: 0 8px 25px rgba(255, 0, 0, 0.25);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.signup-box h2{
    margin-bottom: 25px;
    color: #ff4d4d;
    font-size: 2rem;
}
.form-group{
    text-align: left;
    margin-bottom: 20px;

}
.form-group label{
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    color: #fff;
}

.form-group input,
.form-group select{
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.85);
    color: #000;
    transition: border 0.3s ease;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.5);
}
.form-group input:focus,
.form-group select:focus{
    border: 2px solid #ff4d4d;
}
.signup-box button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(135deg, #ff4d4d,#e60000);
    color: #fff;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(255, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.signup-box button:hover{
    background: linear-gradient(135deg, #e60000, #b80000);
    box-shadow: 0 8px rgba(255, 0, 0, 0.5);
}
.login-link{
    margin-top: 18px;
    font-size: 0.95rem;
    color: #ddd;
    text-align: center;
}
.login-link a{
    color: #ff4d4d;
    text-decoration: none;
    font-weight: 600;
}
.login-link a:hover{
    text-decoration: underline;
}