.settings-container {
  width: 100%;
  height: 100vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
