.waiter-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f8f9fa;
    font-family: "Poppins", sans-serif;
}

/* navbar */
.waiter-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 12px 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.waiter-logo{
    font-weight: 700;
    color: #212529;
}
.waiter-search{
    width: 320px;
    max-width: 100%;
    padding: 10px 14px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    background: #f9f9f9;
    color: #333;
    font-size: 0.95rem;
}

.waiter-search:focus{
    border-color: #ff4d4d;
    background: #fff;
}

/* Profile Dropdown */
.profile-countiner{
    position: relative;
    cursor: pointer;
}
.profile-icon{
    font-size: 28px;
    color: #343a40;
}

.dropdown-menu{
    position: absolute;
    right: 0;
    top: 45px;
    background: white;
    border: 1px solid #dee2e6;
    box-shadow: 0 5px 15px rgba(0,0,0,0.01);
    border-radius: 10px;
    width: 160px;
    padding: 8px;
    z-index: 10;
}
.dropdown-menu p{
    padding: 8 px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: #495057;
    transition: background 0.2s;
}
.dropdown-menu p:hover{
    background: #ffe3e3;
}

/* Dashboard design */

.dashboard-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 24px;
    padding: 40px;
}
.grid-card{
    background: #ffffff;
    border-radius: 16px;
    text-align: center;
    padding: 30px 20px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    cursor: pointer;
}
.grid-card:hover{
    font-size: 40px;
    margin-bottom: 10px;
    color: #ff4d4d;
}
.grid-card h3{
    margin-top: 8px;
    color: #212529;
}
