
/* Login style */

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding: 40px;
    margin: 0;
    background: url("/public/images/bg.jpg")center/cover no-repeat;
    
}
/* blur overlay */
.login-page::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(10px);
    z-index: 0;
}
.login-box {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.92);
    padding: 40px;
    border-radius: 18px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 25px rgba(255,0,0,0.25);
    text-align: center;
}
.login-box button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(135deg, #ff4d4d, #e60000);
    color: #fff;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(255,0,0,0.4);
    transition: all 0.3s ease;
}
.login-box button:hover {
    background: linear-gradient(135deg, #e60000, #b80000);
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 8px rgba(255, 0, 0, 0.5);
}
.login-box h2 {
    margin-bottom: 25px;
    color: #ff4d4d;
    font-size: 2rem;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
    
}

.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    background: #fff;
    color: #000 !important;
    transition: border 0.3s ease;
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.5);
}
.form-group input::placeholder{
    color: #555;
}
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color:#000 !important;
}
    
.form-group input:focus {
    border: 2px solid #ff4d4d;
}

.signup-link {
    margin-top: 15px;
    font-size: 0.95rem;
    color: #bbb;
}
.signup-link a {
    color: #ff4d4d;
    text-decoration: none;
    font-weight: 600;
}
.signup-link a:hover {
    text-decoration: underline;
}

.signup-link{
    margin-top: 18px;
    font-size: 0.95rem;
    color: #555;
    text-align: center;
}