/* main countiner */
.host-countiner{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f8f9fa;
  font-family: "Poopins", sans-serif;
}

/*NAVBAR */
.host-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 12px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.host-logo{
  font-weight: 700;
  color: #212529;
}

/* search bar */
.host-search input{
  width: 300px;
  padding: 10px 14px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  background: #f1f3f5;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}

.host-search input:focus{
  border-color: #ff4d4d;
  background: #fff;
}

/* host profile  */
.host-profile{
  position: relative;
  cursor: pointer;
}
.profile-icon{
  font-size: 30px;
  color: #343a40;
  transition: color 0.3s ease;
}
.profile-icon:hover{
  color:#ff4d4d;

}

.dropdown-menu{
  position: absolute;
  right: 0;
  top: 45px;
  background: #ffffff;
  border: 1px solid #dee2e6;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 160px;
  padding: 8px;
  z-index: 10;
}

.dropdown-menu p{
  padding: 8px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #495057;
  transition: background 0.2s ease;
}

.dropdown-menu p:hover{
  background: #ffe3e3;
}


/* dashboard card */
.host-dashboard{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  padding: 40px;
}
.dashboard-card{
  background: #ffffff;
  border-radius: 16px;
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  cursor: pointer;
}

.dashboard-card:hover{
  transform: translateY(-6px);
  box-shadow: 0 8px 25px rgba(255, 77, 77, 0.3);
}

/* Icons */
.dashboard-icon{
  font-size: 40px;
  color: #ff4d4d;
  margin-bottom: 10px;
}

.dashboard-card h3{
  margin-top: 8px;
  color: #212529;
  font-weight: 600;
}