/* basic layouts */
.chef-countiner{
    min-height: 100vh;
    background: #f8f9fa;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

/* Header */
.chef-header{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ff4d4d;
    margin-bottom: 20px;

}

.chef-header h2{
    font-size: 1.8rem;
    font-weight: 600;
}

.chef-icon{
    font-size: 28px;
}
/* Order table */
.order-sections, .done-orders{
    width: 100%;
    max-width: 950px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    overflow-x: auto;
    padding: 20px;
    margin-bottom: 30px;
}
.order-sections h3, .done-orders h3{
    margin-bottom: 10px;
    color: #ff4d4d;
    font-size: 1.2rem;
}
.orders-table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.orders-table th{
    background: #ff4d4d;
    color: #fff;
    padding: 14px;
    font-weight: 500;
}
.orders-table td{
    padding: 12px;
    border-bottom: 1px solid #eee;
}

/* Status badge */
.status-badge{
    padding: 6px 12px;
    border-radius: 20px;
    color: #fff;
    font-size: 0.85rem;
    font-weight: 500;
}

.status-badge.pending{
    background: #ffa94d;
}
.status-badge.preparing{
    background: #4dabf7;
}
.status-badge.done{
    background: #69db7c;
}

/* Buttons */
.status-buttons{
    display: flex;
    justify-content: center;
}

.btn{
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 4px;
}

.btn.preparing{
    background: #4dabf7;
}
.btn.done{
    background: #69db7c;
}
.btn:hover{
    opacity: 0.85;
}

/* Note input */
.note-input{
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 0.9rem;
    width: 90%;
    background: #f8f9fa;
}
.note-input:focus{
    border-color: #ff4d4d;
    background: #fff;
}


/* Empty message */
.no-orders{
    text-align: center;
    color: #666;
    padding: 30px 0;
    font-style: italic;
}